<body>
    <%- include ('partials/navbar') -%>
<div class="container">
    <br>
    <div class="text-center"><h2>Add Product to Cart</h2></div>
    <br>
    <div class="text-center">
        <form action="/cart" method="POST">
            <label for="name">Product Name:</label><br>
            <input type="text" id="name" name="productName" value="<%= product.productName %>" readonly><br><br>

            <label for="quantity">Amount to be bought:</label><br>
            <input type="number" id="quantity" name="quantity" min="0" step="1"required><br><br>

            <label for="price">Price of Item:</label><br>
            <input type="number" id="price" name="productPrice" min="0" step="0.01"  value="<%= product.productPrice %>" readonly><br><br>

            <label for="image">Current Image:</label><br>
            <input type = "text" name = "image" value = <%= product.image %> readonly><br>
            <img src = "/images/<%= product.image %>" width="20%"><br><br>

            <button type="submit">Add Product</button>
        </form>
    </div>
</div>
</body>