<html lang="en">
<head>
  <title>Online Electronic Web application</title>
</head>
<body>
    <%- include ('partials/navbar') -%>
    
<div class="container">
    <br>
    <div class="text-center"><h2>Products For Sale</h2></div>
    <br>
  
    <table class="table table-hover small text-center">
      <thead>
          <tr>
            <th width="100">Product Name</th>
            <th width="100">Product Image</th>
            <th width="50">Quantity</th>
            <th width="50">Price</th>
            <th width="50"></th>
          </tr>
      </thead>
      <tbody>
        <% for(let i=0; i < products.length; i++) { %>
          <tr>
            <td><a href = "/viewProduct/<%= products[i].productID %>"><%= products[i].productName %></a></td>
            <td><img src = "/images/<%= products[i].image %>" width = "20%"></td>
            <td><%= products[i].quantity %></td>
            <td>$<%= products[i].productPrice.toFixed(2) %></td>
            <td><a href = "/addtocart/<%= products[i].productID%>">Add to cart</a></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</body>