<body>
    <%- include('partials/staffbar') -%>
    <div class="container">
        <br>
        <div class="text-center"><h2>Products Editing</h2></div>
        <br>
      
        <table class="table table-hover small text-center">
          <thead>
              <tr>
                <th width="100">Product Name</th>
                <th width="100">Product Image</th>
                <th width = "50">Edit</th>
                <th width = "50">Delete</th>
              </tr>
          </thead>
          <tbody>
            <% for(let i=0; i < products.length; i++) { %>
              <tr>
                <td><a href = "/viewProduct/<%= products[i].productID %>"><%= products[i].productName %></a></td>
                <td><img src = "/images/<%= products[i].image %>" width = "20%"></td>
            <td><a href = "/editProduct/<%= products[i].productID%>">Edit</a></td>

            <td><a href = "/deleteProduct/<%= products[i].productID%>" onclick="return confirm('Are you sure you want to delete this product?')">
              Delete</a>
            </tr>
            <% } %>
          </tbody>
    </div>

</body>